{
	"useTabs": true,
	"singleQuote": true,
	"trailingComma": "none",
	"printWidth": 100,
	"plugins": ["prettier-plugin-svelte", "prettier-plugin-java", "prettier-plugin-tailwindcss"],
	"pluginSearchDirs": false,
	"endOfLine": "auto",
	"overrides": [{ "files": "*.svelte", "options": { "parser": "svelte" } }],
	"htmlWhitespaceSensitivity": "ignore"
}
